In [121]:
import pandas as pd
from bs4 import BeautifulSoup as bs

## Import data

In [122]:
uni = pd.read_excel('universities.xlsx')
uni.head()

,Unnamed: 0,programme_title,programme_url,school_name,location,price_usd,duration,languages,pace,programme_info
0,0,Bachelor of Computer Science,https://www.bachelorstudies.com/Bachelor-of-Co...,Harbour.Space University,"Barcelona, Spain",24140,3 years,['English'],['Full-time'],The Harbour.Space Bachelor’s in Computer Scien...
1,0,Bachelor in IT and Computing (Online),https://www.onlinestudies.com/Bachelor-in-IT-a...,Schellhammer Business School,"Marbella, Spain",No info,3 years,['English'],['Full-time'],This IT and Computing Undergraduate degree off...
2,0,Bachelor of Science (Honours) in Computer Science,https://www.bachelorstudies.com/Bachelor-of-Sc...,LSBF Singapore,"Singapore, Singapore",19349,3&nbsp;-&nbsp;5 years,['English'],"['Full-time', 'Part-time']",To meet the rapid digitalization of businesses...
3,0,BSc (Hons) Computing and Web Development,https://www.bachelorstudies.com/BSc-(Hons)-Com...,Buckinghamshire New University,"High Wycombe, United Kingdom",12567,3 years,['English'],['Full-time'],Computing and Web Development focuses on the t...
4,0,Bachelor of Science in Computer Science,https://www.bachelorstudies.com/Bachelor-of-Sc...,"King's College - Pennsylvania, USA","Wilkes-Barre, USA",38822,4 years,['English'],['Full-time'],Often thought of as those vocational areas tha...

## Clean data

In [123]:
uni['price_usd'] = uni['price_usd'].apply(lambda x: x if isinstance(x, int) else 0)
uni['location'] = uni['location'].fillna('').str.lower()
uni['country'] = uni['location'].apply(lambda x: x.split(',')[1].strip() if x != '' else x)
uni['languages'] = uni['languages'].fillna('').apply(
    lambda x: x.replace('[', '').replace(']', ''))
uni['pace'] = uni['pace'].fillna('').apply(
    lambda x: x.replace('[', '').replace(']', ''))

uni.head()

,Unnamed: 0,programme_title,programme_url,school_name,location,price_usd,duration,languages,pace,programme_info,country
0,0,Bachelor of Computer Science,https://www.bachelorstudies.com/Bachelor-of-Co...,Harbour.Space University,"barcelona, spain",24140,3 years,'English','Full-time',The Harbour.Space Bachelor’s in Computer Scien...,spain
1,0,Bachelor in IT and Computing (Online),https://www.onlinestudies.com/Bachelor-in-IT-a...,Schellhammer Business School,"marbella, spain",0,3 years,'English','Full-time',This IT and Computing Undergraduate degree off...,spain
2,0,Bachelor of Science (Honours) in Computer Science,https://www.bachelorstudies.com/Bachelor-of-Sc...,LSBF Singapore,"singapore, singapore",19349,3&nbsp;-&nbsp;5 years,'English',"'Full-time', 'Part-time'",To meet the rapid digitalization of businesses...,singapore
3,0,BSc (Hons) Computing and Web Development,https://www.bachelorstudies.com/BSc-(Hons)-Com...,Buckinghamshire New University,"high wycombe, united kingdom",12567,3 years,'English','Full-time',Computing and Web Development focuses on the t...,united kingdom
4,0,Bachelor of Science in Computer Science,https://www.bachelorstudies.com/Bachelor-of-Sc...,"King's College - Pennsylvania, USA","wilkes-barre, usa",38822,4 years,'English','Full-time',Often thought of as those vocational areas tha...,usa

In [124]:
countries_to_keep = ['united kingdom', 'france', 'italy', 'germany', 'spain', 'portugal', 'netherlands', 'belgium']

uni = uni[uni.country.isin(countries_to_keep)]

uni.head()

,Unnamed: 0,programme_title,programme_url,school_name,location,price_usd,duration,languages,pace,programme_info,country
0,0,Bachelor of Computer Science,https://www.bachelorstudies.com/Bachelor-of-Co...,Harbour.Space University,"barcelona, spain",24140,3 years,'English','Full-time',The Harbour.Space Bachelor’s in Computer Scien...,spain
1,0,Bachelor in IT and Computing (Online),https://www.onlinestudies.com/Bachelor-in-IT-a...,Schellhammer Business School,"marbella, spain",0,3 years,'English','Full-time',This IT and Computing Undergraduate degree off...,spain
3,0,BSc (Hons) Computing and Web Development,https://www.bachelorstudies.com/BSc-(Hons)-Com...,Buckinghamshire New University,"high wycombe, united kingdom",12567,3 years,'English','Full-time',Computing and Web Development focuses on the t...,united kingdom
8,0,Bachelor in Software Engineering and Business ...,https://www.bachelorstudies.com/Bachelor-in-So...,Fontys University of Applied Sciences,"venlo, netherlands",12931,48 months,"'English', 'German'",'Full-time',\nWe’re living in a ‘connected world’. People ...,netherlands
9,0,BSc (Hons) Computer Science and Digitisation,https://www.bachelorstudies.com/BSc-(Hons)-Com...,Berlin School Of Business & Innovation,"berlin, germany",10918,3&nbsp;-&nbsp;4 years,'English','Full-time',Passionate about computer science? BSBI is pro...,germany

In [125]:
uni = uni[uni.pace == "'Full-time'"]

In [126]:
less_7000 = uni.query('price_usd <= 7000')

## Analyze & save data

In [127]:
less_7000

Empty DataFrame
Columns: [Unnamed: 0, programme_title, programme_url, school_name, location, price_usd, duration, languages, pace, programme_info, country]
Index: []